body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
}

.navigator {
    background-image: url(bino.image/Background.png);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.logo {
    margin-left: 50px;
    cursor: pointer;
    background-image: url(bino.image/Logo.png);
    display: inline-block;
    width: 141px;
    height: 52px;
}

.logo:hover {
    background-color: #e74c3c;
    transition: 0.9s;
}

 .header {
    padding-top: 40px;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
} 

.item_block {
    max-width: 1000px;
    cursor: pointer;
}

.item {
    text-decoration: none; 
    padding-bottom: 22px;
    color: #ffffff;
    font-size: 15px;
    margin-right: 45px;
    color: white;
}

.item:hover {
    transition: 0.6s;
    border-bottom: 1px solid  #e74c3c; 
    color: #e74c3c;
}


.item_active:hover {
    color: #e74c3c;
}

.item:last-child {
    margin: 0px;
}

.menu_button {
    position: relative;
    display: block;
}

.slider_content {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p_slider {
    margin-bottom: 45px;
    font-size: 24px;
    color: #f4f5f9;
}

.Welcome_Bino {
    color: #f4f5f9;
    font-size: 72px;
    margin-bottom: 48px;
}

.pointer {
    cursor: pointer;
    margin: 0px 14px 0px 14px;
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #e74c3c;
    border-radius: 50%
}

hr {
    margin-top: 2px;
    width: 80px;
    display: inline-block;
    height: 0.5px;
    background-color: #fff;
}

.text_slider {
    margin-top: 47px;
    font-size: 14px;
    color: #cbc6c0;
    line-height: 24px;
}

.button_block {
    margin-top: 90px;
    height: 60px;
}

.button_now {
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #e74c3c;
    padding: 22px 47px 22px 47px;
}

.button_now:hover {
    transition: 0.3s;
    opacity: 0.9;
    background-color: #e74c3c;
}

.button_learn {
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    padding: 22px 69px 22px 69px;
    height: 52px;
    border: 1px solid #ffffff;
}

.button_learn:hover {
    transition: 0.3s;
    opacity: 0.9;
}
    
.anchor_block {
    top: 100%;
    transform: translate(-50%, -50%);
    box-shadow: 10px #e74c3c;
    padding: 17px 22px 17px 22px;
    border-radius: 50%;
    background-color: #f4f5f9;
    width: 22px;
    height: 31px;
    position: absolute;
    left: 50%;
}

.conteiner_2 {
    padding: 80px 0px 112px 0px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_conteiner_2 {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.img1 {
    text-align: center;
 
    background-image: url(bino.image/1.png);
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    width: 32px;
    height: 32px;
}

.img2 {
    display: inline-block;  
    background-image: url(bino.image/2.png);
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    width: 32px;
    height: 32px;
}

.img3 {
    background-image: url(bino.image/3.png);
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    width: 32px;
    height: 32px;
}

.img4 {
    background-image: url(bino.image/4.png);
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    width: 32px;
    height: 32px;
}

.tittle {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #6a6a6a;
    text-align: center;
}

.animation_block {
    padding-top: 50px;
    margin-right: 40px;
    max-width: 250px;
    display: inline-block;
    position: relative;
}

.animation_block:last-child {
    margin-right: 0px;
}


.p_conteiner_2 {
    font-size: 12px;
    color: #999999;
    text-align: center;
}

.border {
    transition: .5s;
    left: 33%;
    bottom: 53%;
    width: 71px;
    height: 71px;
    position: absolute;
    border: 1px solid #e6e6e6;
}

.red:hover .tittle {color: #e74c3c}
.red:hover .border {transform: rotate(46deg); border: 1px solid #e74c3c; cursor: pointer; width: 61px; height: 61px; left: 35%; bottom: 54%};

.history_content2 {
    vertical-align: top;
    max-width: 650px;
}

.history_block {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
}

.block {
    display: inline-block;
    width: 50%;
    max-width: 650px;
}

.history_tittle {
    padding-left: 34px;
    margin-bottom: 50px;
    border-left: 7px solid #e74c3c;
    color: #6a6a6a;
    font-size: 36px;
}

.text_history {
    max-height: 116px;
    margin-left: -1px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: .011em;
    color: #999;
} 

.text_history:nth-child(1) {
    margin-bottom: 100px;
}

.button_block_history {
    border-radius: 2px;
    margin-top: 47px;
    box-shadow: 0 2px 4.75px 0.25px rgba(0,0,0,.25);
    background-color: #e74c3c;
    width: 225px;
    height: 56px;
    display: inline-block;
}

.button_history {
    text-align: center;
    display: block;
    padding-top: 22px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    background-color: #e74c3c;
  
}

.button_history:hover {
    transition: 0.3s;
    opacity: 0.9;
    background-color: #e74c3c;
}


 .history_img {
    min-height: 406px;
    min-width: 530px; 
    width: 50%;
    height: 42%;
    background-position: center center;  
    background-image: url(bino.image/Monitor.png);
    background-repeat: no-repeat; 

} 

.container3 {
    padding-top: 121px;
    padding-bottom: 135px;
}  

.SERVICES_CONTAINER {
    position: relative;
    padding-top: 155px;
    padding-bottom: 155px;
    width: 100%;
    background-color: #202020;
    background-repeat: no-repeat;
    background-image: url(bino.image/Put_Your_Image2.png);
    background-position: 100%;
    background-size: 46% 100%;
}

.services_text {
    position: relative;
    width: 50%;
    display: inline-block;
}


.tittle_services {
    position: relative;
    border-right: 7px solid #e74c3c;
    padding-right: 30px;
    text-align: right;
    color: #f4f5f9;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 78px;
}

.tittle_text_services {
    margin-bottom: 19px;
    text-align: right;
    color: #e74c3c;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}

.text_services {
    margin-bottom: 65px;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 29px;  
    color: #999999;
}

.text_services:last-child {
    margin-bottom: 0px;
}

.icon_block_services {
    position: absolute;
    left: 104.3%;
    top: 30%;
}

.icon_block {
    border: 4px solid #585858;
    border-radius: 50%;
    background-color: #f4f5f9;
    margin-bottom: 80px;
    width: 64px;
    height: 64px;
}

.icon_block:last-child {
    margin-bottom: 0px;
}

.icon {
    margin-top: 20px;
    margin-left: 18px;
    background-image: url(bino.image/komp.png);
    background-repeat: no-repeat;

    height: 32px;
}

.icon2 {
    margin-top: 20px;
    margin-left: 17px;
    background-repeat: no-repeat;
    background-image: url(bino.image/kniga.png);
    height: 32px;
}

.icon3 {
    margin-top: 20px;
    margin-left: 19px;
    background-repeat: no-repeat;
    background-image: url(bino.image/camera.png);
    height: 32px;
}